.background {
  background-image: url(https://image.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
}
